body { 
  background: url(images/books.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1; 
}

h1, h4, h3, p{
  color: rgb(0, 102, 204);
}

#container {
  width: 50%;
  margin: 0 auto;
}

.content-container{ 
  margin-left: auto;
  margin-right:auto;
  width:700px;
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

.widget-container {
  width: 300px;
  bottom: 0px;
  right: 15px;
  position: fixed;
}

.menu-container {
  top: 10px;
  left: 10px;
  position: fixed;
  width: 180px;
}

.menu-container a,
.menu-container h3 {
  background-color: rgba(161, 210, 230, 0.562);
  color: rgb(8, 65, 163);
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu-container h3 {
  margin: 0;
}

.menu-container a:hover {
  background-color: rgb(2, 66, 92);
  color:white;
  transition: 0.4 s;
}

.menu-container a.active {
  background-color: rgb(2, 66, 92);
  color: white;
}

button, input[type="submit"] {
  background-color: rgb(2, 66, 92);
  color:white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding-inline-end: 12px;
  padding-inline-start: 12px;
}
