body { 
  background: url(images/background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1; 
}

h1, p {
  color: rgb(0, 102, 204);
}

#content-container{ 
  margin-left: auto;
  margin-right:auto;
  width:700px;
}

#left-container {
  top: 10px;
  left: 10px;
  position: fixed;
  width: 200px;
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

#widget-container {
  width: 300px;
  bottom: 0px;
  right: 15px;
  position: fixed;
}
