body { 
  background: url(images/books.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1; 
}

h1, h2, h4, h3, p, label {
  color: rgb(0, 102, 204);
}

p, label {
  font-size: 20px;
}

#container {
  width: 50%;
  margin: 0 auto;
}

.content-container{ 
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#logo {
  text-shadow: 4px 4px 8px #5dc8e8;
  font-size: 40px;
  text-align: center;
}

.details-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display: grid;
  grid-template-areas:
    'header header'
    'left right'
    'footer footer';
  grid-gap: 10px;
  padding: 10px;
}

#title-header {
  grid-area: header;
}

.details-wrapper p {
  font-weight: bold;
}

#viewer-container {
  width: 500px;
  height: 600px;
  float: left;
  text-align: center;
  border: 1px solid #0545b3;
  background: rgba(255, 255, 255, 0.5);
  grid-area: left;
}

#no-preview {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#description-container {
  padding: 20px;
  border: 2px solid #0545b3;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  grid-area: footer;
}

#details-container {
  overflow: scroll;
  padding: 30px;
  float: right;
  width: 470px;
  height: 600px;
  border: 2px solid #0545b3;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  grid-area: right;
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

.widget-container {
  width: 300px;
  bottom: 0px;
  right: 15px;
  position: fixed;
}

#search-bar {
  width: 350px;
  top: 20px;
  right: 15px;
  position: fixed;
}

.menu-container {
  top: 10px;
  left: 10px;
  position: fixed;
  width: 180px;
}

.menu-container a,
.menu-container h3 {
  background-color: rgba(161, 210, 230, 0.562);
  color: rgb(8, 65, 163);
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu-container h3 {
  margin: 0;
}

.menu-container a:hover {
  background-color: rgb(2, 66, 92);
  color:white;
  transition: 0.4 s;
}

.menu-container a.active {
  background-color: rgb(2, 66, 92);
  color: white;
}

#courier-header {
  margin-top: 20px;
}

button, input[type="submit"], input[type="button"] {
  background-color: rgb(0, 102, 204);
  color:white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  height: 36px;
  padding-inline-end: 12px;
  padding-inline-start: 12px;
}

input, textarea { 
  display: block;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(0, 102, 204);
  border-radius: 4px;
}

#wrapper {
  padding: 20px;
}

#book-grid {
  width: 100%;
  display: block;
}

.book-item {
  height: 420px;
  overflow: scroll;
  display: inline-block;
  width: 320px;
  padding: 25px;
  text-align: center;
  margin: 20px;
  border: 2px solid #0545b3;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}

.book-li {
  width: 700px;
  padding: 25px;
  border: 2px solid #0545b3;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}

#shopping-list {
  padding: 0px;
  list-style-type: none;
}

.remove-button {
  margin-left: 12px;
}

.cover {
  height: 200px;
}

.cover img {
  height: 200px;
}

.title {
  font-weight: bold;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}
